.App {
	text-align: center;
	max-width: 100%;
	height: auto;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.Anime-header {
	background-color: black;
	max-width: 100%;
	height: auto;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 50s linear;
	}
}

.App-header {
	background-color: rgb(19, 6, 19);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: purple;
}

.App-link {
	color: #61dafb;
	text-decoration: none;
}

.App-link:hover {
	color: red;
	text-decoration: underline;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
